.write {
  display: flex;
  justify-content: center;

  .container {
    margin: 3.625em;
    gap: 2em;
    width: 1400px;
    display: flex;
    flex-direction: column;
    label {
      font-weight: 400;
      font-size: 24px;
    }
    input {
      border: none;
      border-bottom: 0.1px solid lightgray;
      outline: none;
      font-size: 14px;
      padding: 10px;
    }
    .publish {
      align-self: center;
      width: 10%;
      padding: 10px;
      background-color: #1a8917;
      color: white;
      border: none;
      outline: none;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
